# Flask API
flask==3.0.3
Flask-Cors==4.0.0
gunicorn==23.0.0
python-dotenv==1.0.1

# ML Core
numpy==1.26.4
scikit-learn==1.7.2
joblib==1.4.2
xgboost==2.1.0

# Data
pandas==2.2.2

# URL / Web Parsing
requests==2.32.3
beautifulsoup4==4.12.2
tldextract==5.1.1

# DNS / WHOIS
dnspython==2.6.1
python-whois==0.8.0

# Cache
cachetools==5.4.0

# Database
mysql-connector-python==8.3.0
